name: Rust

permissions:
  contents: read

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build
      run: cargo build --locked --verbose

    - name: Run tests
      run: cargo test --all-features --all-targets --verbose
      # Tests are very fast (2-3 seconds maybe), but we add a small timeout to avoid
      # hanging jobs. If a test takes more than 2 minutes, something is very wrong.
      timeout-minutes: 2

    - name: Lint (clippy)
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: Check formatting
      run: cargo fmt --all -- --check
